a {
    color: black;
    text-decoration: none;
   }
   /* a는 선택자로 전체를 뜻함. { color; } 이 부분은 선언, 효과 
   text-decoration은 밑줄*/
   h1 {
       font-size: 45px;
       text-align: center;
       border-bottom: 1px solid gray;
       margin: 0;
       padding: 20px;
   }
   ol {
       border-right: 1px solid gray;
       width: 100px;
       margin: 0;
       padding: 20px;
   }
   #grid{
       display: grid;
       grid-template-columns: 150px 1fr;
   }
   #grid ol{
       padding-left: 25px;
   }
   #grid #article{
       padding-left: 25px;
   }
   @media(max-width: 800px) {
       #grid{
       display: block;
       }
       ol{
           border-right: none;
       }
       h1{
           border-bottom: none;
       }
   }
    /* 스크린의 너미가 800px보다 작을 때, 내용 안 보이게 해줘 */
